<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="simple">
  <!-- 템플릿 표현식 -->
  <h2>{{ message }}</h2>

  <!-- v-text : 디렉티브로 템플릿 표현식과 동일하게 사용 -->
  <h2 v-text="message"></h2>

  <!-- v-html : HTML 태그 문자열을 파싱하여 화면에 나타냄 (XSS 공격에 취약점이 있다.) -->
  <h2 v-html="message"></h2>

  <!-- v-bind : 요소 객체의 속성들을 바인딩하기 위해 사용 -->
  <p v-bind:class="{active : isActive}">active</p>

  <!-- v-model : HTML 요소와 모델 객체의 값을 양방향으로 매핑 -->
  <input type="text" v-model="message" v-value="message" />

  <!-- v-show, v-if, v-else, v-if : 값에 따라 렌더링 여부 결정 -->
  <!--
    v-show와 v-if의 차이점
      v-if : 조건에 부합하지 않으면 렌더링을 하지 않는다.
      v-show : 랜더링한 후 조건이 맞지 않으면 display : none
      화면에서 동적으로 변환이 잦은 조건은 v-show 조건을 사용 하는것이 유리하다.
  -->
  <p v-if="amount > 0">v-if</p>
  <p v-show="amount < 0">v-show</p>

  <!-- v-for : 반복적인 데이터 랜더링 -->
  <!--
    배열데이터 : v-for="(number, index) in numbers"
    객체데이터 : v-for="(value, key, index) in objects"
  -->
  <!--
    v-for와 v-if는 함께 사용할 수 있다. 단 v-for가 먼저 수행되고 v-if가 적용된다.
  -->
  <!--
    key 특성
      DOM
   -->
  <p v-for="(number, index) in numbers" v-if="number != 2" v-bind:key="index">[{{ index }}]{{ number }}</p>

  <!-- v-pre : 템플릿 문자열을 컴파일하지 않고 그대로 내보냄 -->
  <p v-pre>{{ message }}</p>

  <!-- v-once : 단 한번만 랜더링 하도록 설정 -->
  <input type="text" v-model="once" v-value="once" />
  <p v-once>{{ once }}</p> <!-- once 값이 바뀌여도 랜더링을 다시 수행하지 않는다. -->

  <!-- 계산형 속성 사용 -->
  <input type="number" v-model="amount" />
  <p>{{ isEmpty }}</p>

</div>

<script>
  // 모델
  var model = {
    message : '첫 번째 Vue.js1',
    isActive : true,
    amount : 1000,
    numbers : [1, 2, 3],
    once : 'once'
  };

  // 뷰모델
  var simple = new Vue({
    el : '#simple',
    data : model,  // 모델을 참조하고 있다. 모델이 변경되면 뷰모델 객체는 즉시 HTML 요소에 반영한다.
    /*
      계산형 속성
        computed 속성에 함수를 등록해두면 속성처럼 이용 가능하다.
    */
    computed : {
        isEmpty : function() {
          if (this.amount <= 0) {
            return 'amount <= 0';
          } else {
            return 'amount > 0';
          }
        }
    }
  })
</script>
</body>
</html>